
{% extends "layout.jinja2" %}

{% block content %}

<div >
    <iframe 
        noresize='noresize' 
        style='position: absolute; background: transparent; width: 100%; height:100%;' 
        src={{ "/dashapp/" }}
        frameborder="0">
    </iframe>
</div>

{% endblock %}

