#latest @ Feb 2022
dash==1.18.1 #Dash 2.0 problematic and unneeded. Still problematic on firefox on linux.
Werkzeug==2.0.0 #needed for Heroku due to runtime error ImportError: cannot import name 'get_current_traceback' from 'werkzeug.debug.tbtools' (StackOverflow)
pandas==1.4.1
flask==2.0.3
python-dotenv==0.19.2
kaleido==0.2.1 #pdf export
Pillow==9.0.1
dash-deck==0.0.1
pydeck==0.4.1 #Had to lock this as updates are breaking. Might be cool new features though.
matplotlib==3.5.1
gunicorn==20.0.4
dash-extensions==0.0.58 #Download features
dash-bootstrap-components==0.13.1 #this is as high as we can go before dash 2.0 breaking changes come into effect
xlrd==1.2.0
xlsxwriter==1.4.4
azure-storage-blob==12.23.1
pyarrow==7.0.0 

#Lakehouse 
#openpyxl #not sure if this is needed. It's for opening xlsx files using pandas. Forced me.
#py7zr
