# latest @ Feb 2025
# Note updating to Python 3.12.7 has caused multiple wheel failures. 

# APP
python-dotenv==1.0.1
azure-storage-blob==12.24.1
spyder-kernels==3.0.1 #for IDE
pandas==2.2.3
matplotlib==3.10.0
dataclasses==0.6
pyarrow==19.0.1
dash==2.18.2

dash-bootstrap-components==1.7.1

# =====================================


#kaleido==0.2.1 #pdf export
#dash-deck==0.0.1
#pydeck==0.4.1 #Had to lock this as updates are breaking. Might be cool new features though.
#gunicorn==20.0.4
#dash-extensions==0.0.58 #Download features
#dash-bootstrap-components==0.13.1 #this is as high as we can go before dash 2.0 breaking changes come into effect
#xlrd==1.2.0
#xlsxwriter==1.4.4

# LAKEHOUSE
#openpyxl==3.1.5 #Needed for opening xlsx files using pandas. 

